################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/eje1/v15/Server/sqlite3
eje1back/obj/Debug/eje1back.pdb
