<div>
    <!-- titulo  -->
    <div class="jumbotron text-center">
        <div class="jumbotro"></div>
        <h2>
            triqui
        </h2>
    </div>

    <!-- juego -->
    <div>
        juego.Jugador1.IdJugador
        {{Juego.Jugador1.IdJugador}}<br />
        juego.Jugador2.IdJugador
        {{Juego.Jugador2.IdJugador}}<br />
        Idpartida
        {{Juego.Idpartida}}<br />
        <!-- ingresar nombres jugadores-->
        <div ng-model="Juego">
            <br />

            <form class="form-inline">
                <div>
                    <!--ng-show="TipoBloqueo.Nombres"-->
                    <div>
                        <div class="dividir">
                            <p class="puntos">
                                Ingresa nombre del jugador:

                            </p>
                            <BR />
                            <input type="text" class="form-control  " ng-model="Juego.Jugador.Nombre" placeholder="Jugador x"
                                   ng-change="Juego.Jugador.Nombre" maxlength="22"
                                   oninput="if (this.value.length > this.maxLength)this.value = this.value.slice(0, this.maxLength);" />

                        </div>
                    </div>

                    <div>

                        <br />
                        <br />
                    </div>
                    <!--ng-click="desbloquear()"-->
                    <button type="submit" class="btn btn-primary mb-2 " ng-click="crearJugadorback()">Jugar</button>
                    <button type="submit" class="btn btn-primary mb-2 " ng-click="recargarDatosBack()">aaaaaa</button>
                </div>
                <!--ng-show="TipoBloqueo.Mensaje"-->
                <i> Ambos jugadores deben de tener un nombre </i>
                <!--ng-show="TipoBloqueo.Mensaje1"-->
                <i> Los jugadores deben de tener nombres distintos</i>
            </form>
        </div>
        <!--ng-show="TipoBloqueo.Juego"-->
        <div>
            <div ng-model="Juego">
                <div class="a dividir">

                    <br />
                    <p class="puntos">
                        Puntos de {{Juego.Jugador1.Nombre}}
                    </p>
                    <p class="puntosMasgrande">
                        {{Juego.Jugador1.Puntos}}
                    </p>

                </div>
                <div class="a dividir">
                    <br />
                    <p class="puntos">
                        Puntos de {{Juego.Jugador2.Nombre}}

                    </p>
                    <p class="puntosMasgrande">
                        {{Juego.Jugador2.Puntos}}
                    </p>


                </div>

            </div>

            <!--turno-->

            <div>
                <p class="puntos">Turno  </p>
                <p class="puntosMasgrande">{{Juego.Turno}}</p>
            </div>

            <!-- tablero del juego -->
            <div>

                <div class="tab ">
                    <div class="table2">
                        <table class="table table-bordered  ">
                            <tr ng-repeat="x in Juego.Tablero">
                                <td ng-repeat="y in x.Fila">

                                    <div class="caja" ng-click="marcarJuego(y)">
                                        <div class="letra" ng-model="y.Valor">

                                            <canvas id="{{y.Canvas}}" width="250" height="100" ng-model="y.Canvas" ng-change="y.Canvas"></canvas>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <!--botones de jugar de nuevo y nueva partida-->
            <form class="form-inline">

                <p class="puntosMasgrande" ng-model="Juego.Mensaje"> {{Juego.Mensaje}}</p>
                <br />
                <div class="a form-group mx-sm-3 mb-2">
                    <button type="submit" class="btn btn-primary mb-2" ng-click="limpiarJuego()">Volver a jugar </button>
                </div>
                <div class="a form-group mx-sm-3 mb-2 botonNuevaPartida">
                    <button type="submit" class=" btn btn-primary mb-2 " ng-click="init()">Nueva partida </button>
                </div>

            </form>

            <br />
            <br />
            <br />

        </div>
    </div>
</div>
