<div>
    <!-- titulo  -->
    <div class="jumbotron text-center">
        <div class="jumbotro"></div>
        <h2>
            triqui
        </h2>
    </div>

    <!-- juego -->
    <div>

        <!-- ingresar nombres jugadores-->
        <div ng-model="juego">
            <br />

            <form class="form-inline">
                <div ng-show="bloqueo.nombres">
                    <div class="a">
                        <div class="dividir">
                            <p class="puntos">
                                Ingresa nombre del jugador: {{juego.jugador1.estrategia}}

                            </p>
                            <BR />
                            <input type="text" class="form-control  " ng-model="juego.jugador1.nombre" placeholder="Jugador x"
                                   ng-change="juego.jugador1.nombre" maxlength="22"
                                   oninput="if (this.value.length > this.maxLength)this.value = this.value.slice(0, this.maxLength);" />


                        </div>
                    </div>
                    <div class="a">
                        <div class="dividir">
                            <p class="puntos">
                                Ingresa nombre del jugador: {{juego.jugador2.estrategia}}

                            </p>
                            <BR />
                            <input type="text" class="form-control  " ng-model="juego.jugador2.nombre" placeholder="Jugador o"
                                   ng-change="juego.jugador2.nombre" maxlength="22"
                                   oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />

                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary mb-2 " ng-click="desbloquear()">Jugar</button>
                </div>
                <i ng-show="bloqueo.mensaje"> Ambos jugadores deven de tener un nombre </i>
            </form>
        </div>
        <div ng-show="bloqueo.juego">
            <div ng-model="juego">
                <div class="a dividir">
                    <br />
                    <p class="puntos">
                        Puntos de {{juego.jugador1.nombre}}
                    </p>
                    <p class="puntosMasgrande">
                        {{juego.jugador1.puntos}}
                    </p>

                </div>
                <div class="a dividir">
                    <br />
                    <p class="puntos">
                        Puntos de {{juego.jugador2.nombre}}

                    </p>
                    <p class="puntosMasgrande">
                        {{juego.jugador2.puntos}}
                    </p>


                </div>
            </div>

            <!--turno-->

            <div>
                <p class="puntos">Turno  </p>
                <p class="puntosMasgrande">{{juego.Turno}}</p>
            </div>

            <!-- tablero del juego -->
            <div>
                <div class="tab ">
                    <div class="table2">
                        <table class="table table-bordered  ">
                            <tr ng-repeat="x in juego.tablero">
                                <td ng-repeat="y in x.Fila">

                                    <div class="caja" ng-click="asignarTurno(y)" style="border: 2px solid ">
                                        <div class="letra" ng-model="y.valor">
                                            <canvas id="{{y.canvas}}" width="250" height="100"></canvas>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <!--botones de jugar de nuevo y nueva partida-->
            <form class="form-inline">

                <p class="puntosMasgrande" ng-model="juego.estadoJuego"> {{juego.estadoJuego}}</p>
                <br />
                <div class="a form-group mx-sm-3 mb-2">
                    <button type="submit" class="btn btn-primary mb-2" ng-click="limpiarJuego()">Volver a jugar </button>
                </div>
                <div class="a form-group mx-sm-3 mb-2 botonNuevaPartida">
                    <button type="submit" class=" btn btn-primary mb-2 " ng-click="init()">Nueva partida </button>
                </div>

            </form>

            <br />
            <br />
            <br />

        </div>
    </div>
</div>
